html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  background-color: hsl(225, 100%, 94%);
  font-family: "Red Hat Display", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-height: 100vh;
}

.card {
  border-radius: 10px;
  max-width: 390px;
}

.card-image {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 0 0 15px 15px;
  margin-top: -4px;
}

.card-content h1 {
  color: hsl(223, 47%, 23%);
  font-weight: 900;
}

.card-content h1,
p {
  text-align: center;
}

.card-component {
  display: flex;
  background-color: hsla(225, 100%, 94%, 0.3);
  border-radius: 10px;
  padding: 15px 5px 15px 5px;
}

.btn-style-1 {
  background-color: hsl(245, 75%, 52%);
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  padding: 0.7rem;
  width: 327px;
  border-radius: 10px;
  margin: 3rem;
  box-shadow: 0 10px hsl(225, 100%, 94%);
}

.btn-style-2 {
  color: hsl(224, 23%, 55%);
  border: none;
  margin-top: -30px;
  font-weight: 700;
  background-color: hsl(0, 0%, 100%);
}

.text-style-1 {
  color: hsl(224, 23%, 55%);
  margin: 0 0 30px 0;
}

.text-style-2 {
  color: hsl(245, 75%, 52%);
  font-weight: 700;
  text-decoration: underline;
  margin-right: 36px;
}

.text-style-3 {
  color: hsl(223, 47%, 23%);
  font-weight: 900;
  text-align: left;
  margin: 5px 5px 0 15px;
  line-height: 1.6;
}

.span-style {
  font-weight: normal;
}

.btn-style-1,
.btn-style-2,
.text-style-2:hover {
  cursor: pointer;
}

.btn-style-1:hover {
  background-color: hsla(245, 75%, 52%, 0.75);
}

.btn-style-2:hover {
  color: hsl(223, 47%, 23%);
}

.text-style-2:hover {
  color: hsla(245, 75%, 52%, 0.75);
}

.icon-music {
  margin-left: 26px;
}

@media screen and (max-width: 26.563em) {
  body {
    font-size: 14px;
    background-color: hsl(225, 100%, 94%);
    font-family: "Red Hat Display", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
  }

  .card {
    border-radius: 10px;
    max-width: 344px;
  }

  .text-style-1 {
    margin: 0 0 15px 0;
    line-height: 1.6;
    font-size: 18px;
  }

  .text-style-2 {
    font-weight: 700;
  }

  .card-component {
    background-color: hsla(225, 100%, 94%, 0.3);
    border-radius: 10px;
    padding: 15px 5px 15px 5px;
  }

  .icon-music {
    margin: 10px 0 0 6px;
    width: 40px;
    height: 38px;
  }

  .span-style {
    font-size: 15px;
    line-height: 1.6;
    font-weight: normal;
  }

  .text-style-3 {
    font-weight: 900;
    font-size: 13px;
  }

  .btn-style-1 {
    padding: 15px;
    margin: 25px 0 64px 0;
  }
}
